@charset "UTF-8";
/*Inicio Definición de Mixins*/
/*Fin Definición de Mixins*/
/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;1,200&family=Roboto:wght@100;300;400&display=swap");
/* Reset Style */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

.underline {
  width: 10rem;
  height: 1.5px;
  background-color: #000000;
  margin: 1.5rem auto;
  margin-top: 0.5rem;
}

.scrollLink {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #70a076;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: 8vh;
}

.navBar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navTitle {
  color: black;
}

.mainNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.navIcon-Container {
  width: 1.5rem;
  cursor: pointer;
}

.navIcon {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.linksContainer {
  background-color: #70a076;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-bottom: 2px solid #85ad8a;
}

.link {
  padding: 0.6rem 0;
  padding-left: 1rem;
  list-style: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.link:hover {
  background-color: #70a076;
  cursor: pointer;
  padding-left: 1.8rem;
}

/*Media Query for effects only happening on small screen*/
@media screen and (max-width: 768px) {
  .link:hover .scrollLink {
    color: white;
  }
}

/*Media Query for NavBar Expansion*/
@media screen and (min-width: 768px) {
  .navIcon-Container {
    display: none;
  }
  .linksContainer {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    border: none;
  }
  .link {
    padding-left: 0rem;
    margin: 1.5rem auto;
  }
  .scrollLink {
    color: white;
    font-size: 1.1rem;
  }
  .linksList {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mainNavContainer {
    display: none;
  }
  .navBar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: transparent;
    width: 90vw;
    margin: 0 auto;
  }
  .navTitle {
    color: white;
  }
  .link:hover {
    background-color: transparent;
    cursor: pointer;
    padding-left: 0rem;
  }
  .scrollLink {
    border-bottom: 1px solid transparent;
  }
  .link:hover .scrollLink {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-bottom: 1px solid white;
  }
  .navBar-fixed {
    background-color: white;
    width: 100vw;
  }
  .link-fixed {
    color: black;
  }
  .link-fixed:hover {
    color: #70a076;
    border-bottom: 1px solid #70a076;
  }
}

/* Section Style */
.section {
  text-align: center;
  padding: 2rem;
}

.sectionTitle {
  font-family: "Alex Brush", cursive;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  margin-top: 1 rem;
}

.underline {
  width: 5rem;
  height: 2.5px;
  background-color: #70a076;
  margin: 2.5rem auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 4rem;
    margin-top: 1rem;
  }
  .underline {
    margin-bottom: 3rem;
  }
}

header {
  height: 100vh;
  background-color: #70a076;
  background-image: url(../img/fondo_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.siteTitle {
  font-family: "Alex Brush", cursive;
  text-align: center;
  color: #ffffff;
  font-size: 3.5rem;
  letter-spacing: 0.7rem;
  font-weight: 200;
  padding: 1rem;
  padding-left: 1.6rem;
}

.siteTitle_end {
  letter-spacing: 0.2rem;
  color: #000000;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.siteTitle_end_amper {
  color: #000000;
  display: inline;
  font-family: "Alex Brush", cursive;
}

.siteTitle_amper {
  display: block;
  font-family: "Alex Brush", cursive;
  text-align: center;
  color: #ffffff;
  font-size: 3.5rem;
}

/*Add this to avoid title moving around once navBar becomes "FIXED"*/
.siteTitle-fixed {
  margin-bottom: 0;
  margin-top: 10vh;
}

.subHeader {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .siteTitle {
    font-size: 7rem;
  }
  .siteTitle_end {
    margin-top: 2rem;
    letter-spacing: 0.2rem;
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .siteTitle_amper {
    display: inline;
  }
}

.mainInfo {
  min-height: 100vh;
}

.date {
  font-weight: 200;
  font-size: 2rem;
  text-transform: uppercase;
}

.date_title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  color: #70a076;
}

.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80vw;
  margin: 0 auto;
}

.location_container {
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location_container_title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #70a076;
  margin-top: 0.5rem;
}

.location_container_time {
  font-family: 'Alex Brush', cursive;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.location_container_text {
  font-weight: 400;
  font-size: 1rem;
}

.location_container_address {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.location_container_button {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: #70a076;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  cursor: pointer;
}

.location_container_button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

.location_container_button:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #ffffff;
  border: 2px solid #70a076;
}

.location_container_button:hover a {
  color: #70a076;
}

@media screen and (min-width: 768px) {
  .date {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
  .date_title {
    letter-spacing: 0.5rem;
  }
  .locations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
    margin: 4rem auto;
    margin-top: 0.8rem;
  }
  .location_container_title {
    letter-spacing: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .locations {
    gap: 18rem;
  }
  .deco_close {
    display: inline-block;
  }
}

.nosotros {
  background-color: rgba(245, 240, 240, 0.7);
}

/*****************************************
  INICIO
  GALERIA
  ****************************************
  ****************************************
  */
.galeria {
  max-width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.galeria__img {
  width: 100%;
}

.galeria__img--destacada1 {
  display: none;
}

.galeria__img--destacada3 {
  display: none;
}

/* ************************************** 
INICIO MEDIA QUERIES GALERIA
************************************** */
@media screen and (min-width: 768px) {
  .galeria {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .galeria__img {
    width: calc(50% - 1rem);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .galeria__img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (min-width: 1024px) {
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 1rem;
  }
  .galeria__img {
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .galeria__img--destacada1 {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    display: block;
  }
  .galeria__img--destacada2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    display: block;
  }
  .galeria__img--destacada3 {
    -ms-grid-column: 4;
    grid-column: 4/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    display: block;
  }
}

/* ************************************** 
FIN MEDIA QUERIES GALERIA
************************************** */
/* 
****************************************
****************************************
FIN GALERIA
**************************************** 
****************************************
*/
.otherInfo {
  background-color: #ffffff;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  width: 80vw;
}

.info_individual {
  margin-left: 2rem;
  margin-bottom: 4rem;
}

.info_img {
  display: none;
}

.infoTitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  letter-spacing: 0.3rem;
  color: #70a076;
  text-align: left;
}

.infoText {
  text-align: left;
}

.infoText_cuenta {
  margin-top: 1rem;
  list-style: none;
  font-size: 1rem;
  font-style: italic;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .info {
    width: 70vw;
  }
  .infoDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
  .info_photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
    max-width: 20rem;
  }
  .info_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */