@charset "UTF-8";
/*Inicio Definición de Mixins*/
/*Fin Definición de Mixins*/
/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;1,200&family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700&display=swap");
@font-face {
  font-family: mainHeader;
  src: url(../fonts/BeautyRegular.ttf);
}
/* Reset Style */
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/fondoPagina.jpeg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.underline {
  width: 10rem;
  height: 1.5px;
  background-color: #000000;
  margin: 1.5rem auto;
  margin-top: 0.5rem;
}

.scrollLink {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.navBar {
  display: none;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  transition: all 0.2s linear;
  height: 7vh;
}

.navBar-fixed {
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.4s linear;
}

.navTitle {
  color: black;
}

.mainNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.navIcon-Container {
  width: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navIcon {
  width: 100%;
  transition: 0.5s;
}

.linksContainer {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.4s linear;
}

.link {
  padding: 0.6rem 0;
  padding-left: 1rem;
  list-style: none;
  transition: all 0.3s linear;
}

.link:hover {
  background-color: #ff9389;
  cursor: pointer;
  padding-left: 1.8rem;
}

/*Media Query for effects only happening on small screen*/
@media screen and (max-width: 768px) {
  .link:hover .scrollLink {
    color: white;
  }
}
/*Media Query for NavBar Expansion*/
@media screen and (min-width: 768px) {
  .navIcon-Container {
    display: none;
  }
  .linksContainer {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    transition: none;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
  }
  .link {
    padding-left: 0rem;
    margin: 1.5rem auto;
  }
  .scrollLink {
    color: white;
    font-size: 1.1rem;
  }
  .linksList {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .mainNavContainer {
    display: none;
  }
  .navBar {
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    width: 90vw;
    margin: 0 auto;
  }
  .navTitle {
    color: white;
  }
  .link:hover {
    background-color: transparent;
    cursor: pointer;
    padding-left: 0rem;
  }
  .scrollLink {
    border-bottom: 1px solid transparent;
  }
  .link:hover .scrollLink {
    transition: all 0.3s linear;
    border-bottom: 1px solid white;
  }
  .navBar-fixed {
    background-color: white;
    width: 100vw;
  }
  .link-fixed {
    color: black;
  }
  .link-fixed:hover {
    color: #ff9389;
    border-bottom: 1px solid #ff9389;
  }
}
/* Section Style */
.section {
  text-align: center;
  padding: 2rem;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-top: 1 rem;
  text-transform: uppercase;
}

.underline {
  width: 5rem;
  height: 2.5px;
  background-color: #ff9389;
  margin: 2.5rem auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 300;
  }
  .underline {
    margin-bottom: 3rem;
  }
}
header {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.siteTitle, .siteTitle_mobile_break {
  font-family: mainHeader;
  text-align: center;
  color: #ffffff;
  font-size: 6.5rem;
  font-weight: 100;
  word-spacing: -0.3rem;
  line-height: 6rem;
}
.siteTitle_mobile_break {
  display: block;
  margin: 0.6rem 0;
  font-size: 5.4rem;
}
.siteTitle_date, .siteTitle_names {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
  font-size: 3.2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}
.siteTitle_names {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}

.arrow_container {
  margin: 0 auto;
  text-align: center;
}
.arrow_container_img {
  height: 4rem;
  display: none;
}

/*Add this to avoid title moving around once navBar becomes "FIXED"*/
.siteTitle-fixed {
  margin-bottom: 0;
}

.subHeader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subHeader_titleContainer {
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .siteTitle, .siteTitle_mobile_break {
    font-size: 9.8rem;
    font-weight: 100;
    word-spacing: 0rem;
    line-height: 6rem;
  }
  .siteTitle_mobile_break {
    display: inline;
    font-size: 8.5rem;
  }
  .siteTitle_date, .siteTitle_names {
    font-size: 3.5rem;
  }
  .siteTitle_names {
    font-size: 1.3rem;
  }
  .subHeader {
    padding-top: 3rem;
    height: 85vh;
  }
  .arrow_container_img {
    display: inline;
  }
}
.mainInfo {
  background-color: rgba(255, 255, 255, 0.7);
}

.date {
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
}
.date_title, .date_title_subtitle {
  font-weight: 500;
  font-size: 2.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  color: #000000;
}
.date_title_subtitle {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.locations {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  margin: 2rem auto;
}

.location_container {
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location_container_title {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #000000;
  margin: 1rem 0;
  margin-top: 0.3rem;
}
.location_container_time {
  font-size: 1.8rem;
  margin: 1rem;
  font-weight: 400;
  text-align: center;
}
.location_container_text {
  font-weight: 400;
  font-size: 1.6rem;
}
.location_container_text_address {
  font-size: 0.9rem;
  display: block;
}
.location_container_button {
  display: block;
  transition: all 0.2s linear;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #ff9389;
  border: none;
  padding: 0.3rem 1.6rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  cursor: pointer;
}
.location_container_button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.location_container_button:hover {
  transition: all 0.2s linear;
  background-color: #ffffff;
  border: 2px solid #ff9389;
}
.location_container_button:hover a {
  color: #ff9389;
}

.time_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .date {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
  .date_title, .date_title_subtitle {
    font-size: 2.4rem;
    margin-bottom: 0.1rem;
  }
  .date_title_subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  .locations {
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    margin: 4rem auto;
    margin-top: 1rem;
  }
  .time_container {
    justify-content: flex-start;
  }
  .location_container_title {
    font-size: 1.8rem;
  }
  .location_container_text {
    font-size: 1.3rem;
  }
  .location_container_text_address {
    font-size: 0.9rem;
  }
  .location_container_time {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .locations {
    gap: 8rem;
  }
}
.nosotros {
  background-color: rgba(0, 0, 0, 0.3);
}

/*****************************************
  INICIO
  GALERIA
  ****************************************
  ****************************************
  */
.galeria {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  gap: 1rem;
}
.galeria__img {
  width: 100%;
}

/* ************************************** 
INICIO MEDIA QUERIES GALERIA
************************************** */
@media screen and (min-width: 768px) {
  .galeria {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .galeria__img {
    width: calc(50% - 1rem);
    transition: all 0.2s;
  }
  .galeria__img:hover {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 1024px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 1rem;
  }
  .galeria__img {
    width: 100%;
    align-self: center;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .galeria__img--destacada1 {
    grid-column: 1/1;
    grid-row: 1/3;
    display: block;
  }
  .galeria__img--destacada2 {
    grid-column: 2/4;
    grid-row: 1/3;
    display: block;
  }
  .galeria__img--destacada3 {
    grid-column: 4/4;
    grid-row: 2/4;
    display: block;
  }
  .galeria__img--destacada4 {
    grid-column: 1/3;
    grid-row: 3/4;
    display: block;
  }
  .galeria__img--destacada5 {
    grid-column: 1/3;
    grid-row: 4/5;
    display: block;
  }
}
/* ************************************** 
FIN MEDIA QUERIES GALERIA
************************************** */
/* 
****************************************
****************************************
FIN GALERIA
**************************************** 
****************************************
*/
.otherInfo {
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 4rem;
}

.info {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80vw;
  justify-content: center;
}
.info_individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0rem;
  margin-bottom: 4rem;
}

.info_img {
  display: none;
}

.infoTitle {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  letter-spacing: 0.3rem;
  color: #ff9389;
  font-weight: 600;
}

.infoText {
  font-size: 1.4rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-weight: 500;
}

.infoContactos {
  list-style: none;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.infoContactos_email {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000;
}

.contacto_nombre {
  font-weight: 500;
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .info {
    width: 70vw;
  }
  .infoDiv {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
  .info_photos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 20rem;
  }
  .info_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  .infoTitle {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .infoText {
    font-size: 1.7rem;
  }
  .contacto_nombre {
    font-size: 1.7rem;
  }
  .infoContactos {
    font-size: 1.6rem;
  }
}
.gift-info p {
  margin: 2rem 0;
}

.deadline {
  display: flex;
  justify-content: center;
}

.deadline-format {
  background: #ff9389;
  color: #ffffff;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.65rem;
}

.deadline h4:not(.expired) {
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: var(--spacing);
}

@media screen and (min-width: 768px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }
  .gift-img {
    margin-bottom: 0;
  }
  .deadline h4:not(.expired) {
    font-size: 2rem;
  }
}
.hashtag {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.hashtag_img {
  width: 100%;
}
.hashtag_info {
  background-color: rgba(255, 147, 137, 0.8);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hashtag_title {
  font-weight: 500;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
  word-wrap: break-word;
}
.hashtag_text {
  font-weight: 300;
  font-size: 1.4rem;
  width: 85%;
  margin: 2rem auto;
  text-align: center;
  color: #ffffff;
}
.hashtag_text_subline {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hashtag_title {
    font-size: 3.2rem;
  }
  .hashtag_text {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .hashtag {
    flex-direction: row;
  }
  .hashtag_img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hashtag_info {
    width: 50%;
  }
}
.regalo {
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 6rem;
}
.regalo_title {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  color: #000000;
  word-wrap: break-word;
}
.regalo_text {
  font-weight: 300;
  font-size: 1.2rem;
  width: 85%;
  margin: 2rem auto;
  text-align: center;
  color: #000000;
}
.regalo_text_subline {
  display: block;
  margin-top: 1rem;
  text-align: center;
}
.regalo_img {
  width: 5rem;
  margin: 2rem;
  margin-top: 1rem;
}
.regalo_info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.regalo_infoText_cuenta {
  margin: 0 auto;
  margin-top: 1rem;
  list-style: none;
  font-size: 1.2rem;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .regalo_title {
    font-size: 2.5rem;
  }
  .regalo_text {
    font-size: 1.5rem;
    width: 75%;
  }
}/*# sourceMappingURL=style.css.map */