header {
  height: 100vh;
  // background-color: rgba(255, 255, 255, 0.6);

  // background-color: $green;
  // background-image: url(../img/fondo_header.svg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.siteTitle {
  font-family: mainHeader;
  //font-family: 'Alex Brush', cursive;
  text-align: center;
  // margin-bottom: 10vh;
  color: $white;
  font-size: 3.3rem;
  font-weight: 200;
  // padding: 1rem;
  // padding-left: 1.6rem;

  &_sub {
    color: $white;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
  }

  &_end {
    letter-spacing: 0.2rem;
    color: $white;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-family: 'Frank Ruhl Libre', serif;
    &_amper {
      color: $white;
      display: inline;
      font-family: 'Frank Ruhl Libre', serif;
    }
  }
  &_amper {
    display: block;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
    text-align: center;
    // margin-bottom: 10vh;
    color: $white;
    font-size: 3.5rem;
  }
}

/*Add this to avoid title moving around once navBar becomes "FIXED"*/
.siteTitle-fixed {
  margin-bottom: 0;
  // margin-top: 10vh;
}

.subHeader {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_titleContainer {
    padding: 0.2rem;
    // background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .siteTitle {
    font-size: 10rem;
    &_end {
      font-family: mainHeader;
      margin-top: 2rem;
      color: $white;
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    &_amper {
      display: inline;
      font-size: 7rem;
    }
  }
}
