header {
  height: 100vh;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  //   url(../img/header1.jpeg);
  background-color: $green;
  background-image: url(../../img/fondo_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.siteTitle {
  font-family: "Alex Brush", cursive;
  text-align: center;
  // margin-bottom: 10vh;
  color: $white;
  font-size: 3.5rem;
  letter-spacing: 0.7rem;
  font-weight: 200;
  padding: 1rem;
  padding-left: 1.6rem;
  &_amper {
    display: block;
    font-family: "Alex Brush", cursive;
    text-align: center;
    // margin-bottom: 10vh;
    color: $white;
    font-size: 3.5rem;
  }
}

/*Add this to avoid title moving around once navBar becomes "FIXED"*/
.siteTitle-fixed {
  margin-bottom: 0;
  margin-top: 10vh;
}

.subHeader {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .siteTitle {
    font-size: 7rem;
    &_amper {
      display: inline;
    }
  }
}
