header {
  height: 100vh;
  // background-color: rgba(255, 255, 255, 0.6);

  // background-color: $green;
  // background-image: url(../img/fondo_header.svg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.siteTitle {
  font-family: mainHeader;
  text-align: center;
  color: $white;
  font-size: 8rem;
  font-weight: 100;
  word-spacing: -0.3rem;
  line-height: 6rem;

  &_mobile_break {
    @extend .siteTitle;
    display: block;
    margin: 0.6rem 0;
    font-size: 6rem;
  }

  &_date {
    color: $white;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
  }
  &_names {
    @extend .siteTitle_date;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
  }
}

/*Add this to avoid title moving around once navBar becomes "FIXED"*/
.siteTitle-fixed {
  margin-bottom: 0;
  // margin-top: 10vh;
}

.subHeader {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_titleContainer {
    padding: 0.2rem;
    // background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .siteTitle {
    font-size: 10rem;
  }
}
