//Mobile Style

.otherInfo {
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 4rem;
}

.info {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80vw;
  justify-content: center;
  &_individual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0rem;
    margin-bottom: 4rem;
  }
}

.info_img {
  display: none;
}

.infoTitle {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  letter-spacing: 0.3rem;
  color: $green;
  font-weight: 600;
}

.infoText {
  font-size: 1.4rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.infoContactos {
  list-style: none;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.contacto_nombre {
  font-weight: 500;
  font-size: 1.6rem;
}

//Info Media Queries

@media screen and (min-width: 768px) {
  .info {
    width: 70vw;
  }
  .infoDiv {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
  .info_photos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 20rem;
  }

  .info_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .infoTitle {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .infoText {
    font-size: 1.7rem;
  }
  .contacto_nombre {
    font-size: 1.7rem;
  }

  .infoContactos {
    font-size: 1.6rem;
  }
}
