.scrollLink {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.navBar {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  transition: all 0.2s linear;
  height: 8vh;
}

.navBar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: all 0.2s linear;
}

.navTitle {
  color: black;
}

.mainNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.navIcon-Container {
  width: 2rem;
  cursor: pointer;
}

.navIcon {
  width: 100%;
  transition: 0.5s;
}

.linksContainer {
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.4s linear;
}

.link {
  padding: 0.6rem 0;
  padding-left: 1rem;
  list-style: none;
  transition: all 0.3s linear;
}

.link:hover {
  background-color: $green;
  cursor: pointer;
  padding-left: 1.8rem;
}

/*Media Query for effects only happening on small screen*/

@media screen and (max-width: 768px) {
  .link:hover .scrollLink {
    color: white;
  }
}

/*Media Query for NavBar Expansion*/

@media screen and (min-width: 768px) {
  .navIcon-Container {
    display: none;
  }

  .linksContainer {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    transition: none;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }

  .link {
    padding-left: 0rem;
    margin: 1.5rem;
  }

  .scrollLink {
    color: white;
    font-size: 1rem;
  }

  .linksList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .mainNavContainer {
    display: none;
  }

  .navBar {
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    width: 90vw;
    margin: 0 auto;
  }

  .navTitle {
    color: white;
  }

  .link:hover {
    background-color: transparent;
    cursor: pointer;
    padding-left: 0rem;
  }

  .scrollLink {
    border-bottom: 1px solid transparent;
  }

  .link:hover .scrollLink {
    transition: all 0.3s linear;
    border-bottom: 1px solid white;
  }

  //Styling for when navBar becomes Fixed

  .navBar-fixed {
    background-color: white;
    width: 100vw;
  }
  .link-fixed {
    color: black;

    &:hover {
      color: $green;
      border-bottom: 1px solid $green;
    }
  }
}
