/* Section Style */

.section {
  height: 80vh;
  text-align: center;
  padding: 2rem;
}

.sectionTitle {
  font-family: 'Alex Brush', cursive;
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 0.6rem;
}
