/* Section Style */

.section {
  min-height: 80vh;
  text-align: center;
  padding: 2rem;
}

.sectionTitle {
  font-family: 'Alex Brush', cursive;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  //text-transform: uppercase;
}

.underline {
  width: 10rem;
  height: 1.5px;
  background-color: black;
  margin: 2.5rem auto;
  margin-top: 0.5rem;
}
