//Colors
//$green: #2e888a;
$green: #ff9389;
$green_highlight: #15795f;
$white: #ffffff;
$black: #000000;
$orange: #f19143;
$grey: #2d2d18;

/*Inicio Definición de Mixins*/

@mixin flexbox-column-display(
  $flex-direction: column,
  $justify-content: center,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin img-destacada($posicion) {
  @if $posicion==destacada-1 {
    grid-column: 1/1;
    grid-row: 1/3;
    display: block;
  }

  @if $posicion==destacada-2 {
    grid-column: 2/4;
    grid-row: 1/3;
    display: block;
  }

  @if $posicion==destacada-3 {
    grid-column: 4/4;
    grid-row: 2/4;
    display: block;
  }

  @if $posicion==destacada-4 {
    grid-column: 1/3;
    grid-row: 3/4;
    display: block;
  }
  @if $posicion==destacada-5 {
    grid-column: 3/5;
    grid-row: 4/5;
    display: block;
  }
}

/*Fin Definición de Mixins*/
